<h1>  </h1>
<%= @favorites.each do |favorite| %>
<div class="image">
  <% image_tag(favorite.post.image.url) if favorite.post.image && favorite.post.image.url %>
</div>
  <p><%= favorite.post.post %></p>
<% end %>
