<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.posts %></td>
        <td><%= icon_tag(post.icon.url) %></td>
        <td><%= post.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Posts', posts_path %>
